node_modules
.env
dist
.DS_Store
.vscode
# Ignorar base de datos y archivos de PocketBase
backend/pb_data/
backend/pocketbase.exe
backend/pocketbase

# Ignorar módulos de node
node_modules/
backend/node_modules/

# Ignorar archivos de sistema y logs
.DS_Store
npm-debug.log*
pb_data/
pb_migrations/
pb_migrations_old/
pb_public/
pocketbase
pb.log
backend/node_modules/
backend/pb_data/
backend/pocketbase.exe
dist/

