@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Playfair+Display:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #333333; /* Gris sólido */
  --nav-bg: rgba(51, 51, 51, 0.95); /* Gris transparente para Navbar */
  --text-color: #f3f4f6;
  --scroll-track: #262626;
  --scroll-thumb: #525252;
}

[data-theme='purple'] {
  --bg-color: #4c1d95; /* Morado sólido */
  --nav-bg: rgba(76, 29, 149, 0.95); /* Morado transparente para Navbar */
  --text-color: #f3f4f6;
  --scroll-track: #3b0764;
  --scroll-thumb: #7c3aed;
}

body {
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
  transition: background-color 0.3s ease, color 0.3s ease;
  @apply antialiased;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: var(--scroll-track);
}
::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color);
}